.vscode/*
.vscode/
.vscode

**/node_modules/
node_modules/*
node_modules/
node_modules

.git
.gitignore
npm-debug.log
.coverage
.coverage.*
.aws

.dockerignore
README.md

**/build
**/dist
**/.DS_Store
*.log